<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.worksdelight.phonecure">
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <permission
        android:name="com.worksdelight.phonecure.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <application
        android:name=".Global"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".WalkThroughtOneActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Transparent"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".RepairActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".BirthDayActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".TechniciansDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".BookAppoinmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".DeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".AfterPaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".iPhoneServiceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".ShoppingcartActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".AlmostdoneActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".ForgotActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".PaymentInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <activity
            android:name=".MapBoxActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"

            />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ShowDeviceActivity"
            android:screenOrientation="portrait"></activity>
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />

            <category android:name="com.worksdelight.phonecure" />
        </intent-filter>

        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.worksdelight.phonecure" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity android:name="com.facebook.FacebookActivity" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        //--------------Android pay------------------
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        <activity
        android:name=".ServiceActivity"
        android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AddressActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansRegister"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".OtherDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansDevice"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansMainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansHistory"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansShowDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansServices"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansRegisterProduct"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>

        <activity
            android:name=".TechniciansOtherDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansSetting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".AppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".WorkingHourActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansEditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".TechniciansHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".UserAppointmentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".DeactivationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".WoorkingHourSecondActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>